* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'etnaetna';
    src: url('../fonts/primary font/etna-free-font-webfont.woff') format('woff'),
        url('../fonts/primary font/etna-free-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family: etnaetna, serif;
}

/* .clearfix {
    overflow: auto;
  } */

.row:after {
    content: "";
    clear: both;
    display: table;
}

/*start header*/

.header {
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #333333;


    /* border: 2px solid red; */

}

[class*="hcol-"] {
    float: left;
    padding: 7px;
    width: 100%;
}

/*logo start*/
.logo-box {
    float: left;
    /* border: 2px solid red; */
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 25px;




}

.logo-box .logoo img {
    width: 60px;
    display: inline-block;
    margin-top: 4px;

    animation-name: logorotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

}

.logo-box .logo img {
    width: 260px;
    display: inline-block;
    margin-left: 15px;



}


/*logo end*/

/*ul start*/
.navmenu {
    /* border: 2px solid red; */
    margin-top: 7px;
    text-align: center;
}

.navmenu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navmenu ul li {
    display: inline-block;
    margin: 7px 5px;
    letter-spacing: 5px;
}

.navmenu ul li a {
    transition: all .8s;
    text-decoration: none;
    color: #F4F4F4;
    font-size: 30px;
}

.navmenu ul li a span {
    color: #FFCC66;
}



.navmenu ul li a:hover {
    background-color: #FFCC66;
    padding: 4px;
    border-radius: 8px;
}

.navmenu ul li a:hover span {
    color: #333333
}


/*ul end*/

/*hamb menu icon start*/

.menu-icon {

    /* border: 2px solid red; */

    height: 72px;
    padding: 26px 36px;


}

.mbar {


    background-color: #F4F4F4;
    border-radius: 20px;
    transition: all 1s;
    height: 5px;

}
.menu-icon:hover .mbar2{
    background-color: #FFCC66;
}


.mbar2 {
    width: 70px;
    rotate: 0deg;
    transform: translate(0px, 0px);
}

.mbar1 {
    width: 50px;
    transform: translate(10px, -8px);
}

.mbar3 {
    width: 50px;
    transform: translate(10px, 8px);
}

/*click event on hamb*/
#btn-control {
    display: none;
}

.btn {
    cursor: pointer;
}

#btn-control:checked+label .mbar2 {
    transform: translate(-10px, 0) rotate(-225deg);
}

#btn-control:checked+label .mbar1 {
    transform: translate(0, -18.5px);
}

#btn-control:checked+label .mbar3 {
    transform: translate(0, 18.5px);
}

.side-menu-row{
    /* border: 1px solid red; */
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    background-color: #FFCC66;
    position: fixed;
    top: 90px;
    right:0px;
    transition: visibility 0s, opacity .5s;
    border-radius: 8px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    width: 100%;


}
.side-menu-column{
    flex: 100%;
    max-width: 100%;
    padding: 0 8px;
    

}
.side-menu-column a{
    display: block;
    text-decoration: none;
    font-size: 60px;
    margin-top: 16px;
    color: #FFCC66;
    padding: 0 8px;
    border-radius: 4px;
    transition: background-color .5s;
    background-color:#333333



}
.side-menu-column a:nth-child(4){
    margin-bottom: 16px;
    font-size: 59px;
}
.side-menu-column a:hover{
    background-color:#F4F4F4;
    color: #333333;
}
.side-menu-column a:hover .side-menu-row{
    background-color:#F4F4F4;
    
}

#btn-control:checked+label .side-menu-row {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}




/*hamb menu icon end*/








/*end header*/
/*start container*/

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

section{
    flex: 100%;
    max-width: 100%;
    width: 100%;
    /* border: 1px solid green; */
    
}









/*end container*/

/*start cover photo area*/
.banner-area{

    width: 100%;
    
   /* height: 100vh; */
   /* border: 5px solid red; */
    background-image: url(../imgs/pictures/ztoon\ pic.png);
    background-repeat: no-repeat;
    background-size: center center;



}
.banner-text{

    color: #F4F4F4;

    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    /* border: 5px solid red; */
    padding: 18% 0px 0px 0px;
    margin-bottom:0px;

}

.banner-text span{
    color: #FFCC66;
    transition: all 1s;
}
.banner-area p {

    padding: 5px 30%;
    color: #F4F4F4;
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color .3s;
}
.banner-area p::selection{
    background-color: #FFCC66;
}
.banner-area p span{
    color:#FFCC66;
    font-size: 30px;
    transition: all 1s;
}

.scrollicon{
    /* border: 5px solid red; */
    width: 100%;
    padding: 1% 48%;
    transition: transform 1s;
    animation-name: scrollicon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}
.scrollicon a .scrolliconcta{
    /* border: 5px solid red; */
    background-image: url(../imgs/SVG/scroll.svg);
    background-repeat: no-repeat;
    background-size: center center;
    height: 70px;



}


.scrolliconcta:hover{
    transform: translate(0,10px);

}
.banner-area p:hover{
    background-color: rgbA(51, 51, 51, 30%) ;
}
.banner-area p:hover span{
    background-color:#FFCC66 ;
    padding:2px 5px 2px 5px ;
    color: #333333;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;



}




/*end cover photo area*/



/*start videos section*/

/*main*/
.videos-row-main{
display: flex;
justify-content: center;
/* align-items: center; */
/* border: 5px solid red; */


}

.videos-column-main{
    
    flex: 100%;
    
    max-width: 100%;
    max-height: 600px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
top: 90px;
right: 0;
bottom: 0;
left: 0;
object-position: center;
height: 50%;
    
}
/* .videos-column-main video{
    
    

    
} */

.videos-column-main::before{
    content: " ";
     
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     z-index:5;
     background:linear-gradient(180deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
    
    }
    .videos-column-main::before{
        content: "MY LATEST VIDEO";
         font-size: 13vw;
         text-align: center;
         justify-content: center;
         align-items: center;
         
         color: #F4F4F4;
        padding: 8vh 0% 3% 0%;
        line-height: 1em;
         position: absolute;
         top: 0px;
         z-index:5;
         background:linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
        
        }



        /*sub videos*/

        .videos-row{
            margin-top: 90px;
            display: flex;
            flex-wrap: wrap;
            padding: 0px 8px;
            justify-items: center;
            justify-content: center;
        }

        .videos-column{
            flex: 100%;
            max-width: 100%;
            padding: 8px;
            
        }
        .videos-column video{
            width: 100%;
            margin-top: 16px;
        }





/*end videos section*/


/*start gallery section */

/*for main photo banner*/
.gallery-row-main{
    display: flex;
    
    /* background-color: #333333; */
    /* padding: 0 16px; */
align-items: center;
    justify-content: center;
}


/* .gallery-column-main img{
    vertical-align: center;
    margin-top: 16px;
    width: 100%;




} */

.gallery-column-main::before{
    content: " ";
     
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     z-index:5;
     background:linear-gradient(180deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
    
    }
    .gallery-column-main::before{
        content: "LATEST ASTROPHOTOGRAPHY PANORAMA";
         font-size: 9vw;
         text-align: center;
         justify-content: center;
         align-items: center;
         
         color: #F4F4F4;
        padding: 6vh 0% 3% 0%;
        line-height: 1em;
         position: absolute;
         top: 0px;
         z-index:5;
         background:linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
        
        }

.gallery-row{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #333333; */
    padding: 0 8px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
    
}


.gallery-column img{
    
    margin-top: 16px;
    width: 100%;



}


























/*end gallery section */

/*start contact section*/

.contact-row{
    display: flex;
    flex-wrap: nowrap; /*flex-wrap: nowrap;*/
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    padding:40px 0px;
    background-color: #FFCC66;
    /* border: 1px solid red; */
    color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    background:url(https://amipqg.dm.files.1drv.com/y4mlC4J7I_Vz8JWtIacFuT_S5aCVLdnLp5YFeZ0dt8r6FAaM6dkn2MqpyuS9qArS7tYS45jVojpfIezMDqI0zr95WRCBFJGQ6pdubB4Ik-nhJYNpSWG2WLNBkzTwKzwjGHYhUeJpt487O_MzS5P420w9Ax_SZjrpBNlFys6kmS2l1Bh4HRff3nWCFAo57G7Q26oS4XYIjqtHU_5UtS-I6XdIA?width=2803&height=934&cropmode=none);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    flex-direction: column;
    

    
    

}




.contact-column{
    
       
    flex: 40%; /*40*/
    max-width: 100%; /*max-width: 40%;*/
    
    
    padding:0px 8px;
       
    /* background-color: #F4F4F4; */
    /* border: 1px solid red; */
    
    
    
     
}
.contact-column:last-child{
    flex: 100%; /*flex: 20%;*/
    max-height:40%; 
    margin-top: 10px;
}

.contact-column .content{
    padding: 10px;
    border-radius:10px ;
    background :rgba(51, 51, 51, .5);
}

.contact-column p{
    margin-top:16px;
    margin-bottom: 16px;
  
}




.credit-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.credit-column{
    
    flex: 100%;
    
    max-width: 100%;
    max-height: 600px;
    
    overflow: hidden;




    
}

.credit-box{
    background-color: #333333;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    color:#F4F4F4;
    
    
    
    
}
.credit-box span{
    color:#FFCC66;
}


.icons-content{
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    
}
.contact-column ul {
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 5px;
}
.contact-column ul li{
    text-decoration: none;
display:inline-block;
text-align: center;
flex: 1;

border-top: 1px solid #FFCC66;
border-bottom: 1px solid #FFCC66;
padding: 5px 0px;


}
.contact-column ul li:first-child{
    border-left: 1px solid #FFCC66;
    border-radius: 10px 0px 0px 10px;
}
.contact-column ul li:nth-child(4){
    border-right: 1px solid #FFCC66;
    border-radius: 0px 10px 10px 0px;
}



.contact-column ul li a{
    text-decoration: none;
    color: #333333;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    padding-top: 5px;

}

.contact-column ul li a img{
    width: 20px; /*width: 40px;*/
    
}
.contact-column ul li:last-child{
    background-color: #FFCC66;
    font-family: etnaetna ;
    letter-spacing: 2px;
    margin-left: 60px;
    font-size: 14px;/**/
    padding: 4px; /*padding: 14px;*/
    border-radius: 10px;
    height: 40px; /*height: 60px;*/
    text-align: center;
    flex: 3;
    

}
.contact-column ul li:last-child:hover{
    background-color: #F4F4F4;
    

}







/*end contact section*/

























/*animation*/
@keyframes logorotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(3600deg);}
}
@keyframes scrollicon {
    from {transform: translate(0,0);}
    to {transform: translate(0,10px);}
 }

/*endanimation*/



/*start responsive*/
/*for mobile*/
.videos-column-main{
    
    flex: 100%;
    
    max-width: 100%;
    max-height: 450px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
top: 90px;
right: 0;
bottom: 0;
left: 0;


z-index: 1;
    
}

.videos-column-main video{
    
    transform: translate(-800px,0px);


    
}
.gallery-column-main video{
    
    transform: translate(0px,-107px);
    width: 1000px;


    
}


.gallery-column-main img{
    height: 100%;
}
.gallery-column-main{
    /* border: 1px solid red; */
    flex: 100%;
    height: 50%;
    z-index: 1;
    max-width: 100%;
    max-height: 450px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
top: 89px;
right: 0;
bottom: 0;
left: 0;
/* object-position: center;
height: 50%; */
margin-top: 0px;
}
.gallery-column{
    flex: 100%;
    width: 100%;
    padding: 0px 8px;
    
}

.banner-area p:hover span{
    display: inline;
    margin: 0;
    background-color: initial;
    color: #FFCC66;
}
.banner-area p span{
    font-size: 36px;

}
.banner-area p span::selection{

    background-color: #333333;
}
.banner-text{
    font-size: 42px;
    padding: 48% 0 0 0;
    text-align: center;
    font-size: 42px;
    vertical-align: center;
}
.banner-area p{
    padding: 5px 16%;
    font-size: 10px;
}
.banner-area{
    height:100vh;
    background-position:center;
}

.logo-box .logoo img {
    width: 60px;
    display: inline-block;
    margin-top: 4px;
}

.logo-box .logo img {
    width: 88px;
    display: inline-block;
    margin-left: 15px;
}

.menu-box {
    float: right;
}

.menu-box label {
    float: right;
}

.spacing {
    display: none;
}

.navmenu {
    display: none;
}

.hcol-s-1 {
    width: 8.33%;
}

.hcol-s-2 {
    width: 16.66%;
}

.hcol-s-3 {
    width: 25%;
}

.hcol-s-4 {
    width: 33.33%;
}

.hcol-s-5 {
    width: 41.66%;
}

.hcol-s-6 {
    width: 50%;
}

.hcol-s-7 {
    width: 58.33%;
}

.hcol-s-8 {
    width: 66.66%;
}

.hcol-s-9 {
    width: 75%;
}

.hcol-s-10 {
    width: 83.33%;
}

.hcol-s-11 {
    width: 91.66%;
}

.hcol-s-12 {
    width: 100%;
}



/*for tab*/
@media only screen and (min-width: 600px) {
    .videos-column-main{
    
        flex: 100%;
        
        max-width: 100%;
        max-height: 450px;
        min-height: 50px;
        overflow: hidden;
        position: relative;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 50%;
        
    }
    .videos-column-main video{
        
        transform: none;
    
        
    }

    .banner-area p span{
        font-size: 30px;
    }
    .banner-text{
        font-size: 60px;
    }
    .banner-area p{
        padding: 5px 30%;
        font-size: 18px;
    }
    .banner-area{
        height:100vh;
    background-position:center;
    }
    .logo-box .logo img {
        width: 280px;
        display: inline-block;
        margin-left: 15px;
    }

    .menu-box {
        float: right;
    }

    .menu-box label {
        float: right;
    }

    .spacing {
        display: none;
    }

    .navmenu {
        display: none;
    }

    .hcol-s-1 {
        width: 8.33%;
    }

    .hcol-s-2 {
        width: 16.66%;
    }

    .hcol-s-3 {
        width: 25%;
    }

    .hcol-s-4 {
        width: 33.33%;
    }

    .hcol-s-5 {
        width: 41.66%;
    }

    .hcol-s-6 {
        width: 50%;
    }

    .hcol-s-7 {
        width: 58.33%;
    }

    .hcol-s-8 {
        width: 66.66%;
    }

    .hcol-s-9 {
        width: 75%;
    }

    .hcol-s-10 {
        width: 83.33%;
    }

    .hcol-s-11 {
        width: 91.66%;
    }

    .hcol-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1300px) {

    .contact-column ul{
        padding: 0px 200px;
    }
    .contact-row{
        padding:40px 300px;
    }

    .gallery-column-main video{
    
        transform: translate(0px,-107px);
        width: 100%;
    
    
        
    }

    .gallery-column-main img{
        transform: translate(0px, -1300px);
        
        
    }

.videos-row{
    padding: 0px 200px;
}
.videos-column{
    flex: 50%;
    max-width: 50%;
}




    .videos-column-main{
    
        flex: 100%;
        
        max-width: 100%;
        max-height: 600px;
        min-height: 300px;
        overflow: hidden;
        position: relative;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    object-position: center;
    
        
    }
    .videos-column-main video{
        
        transform: none;
    
        
    }

    

    .gallery-column-main{
        flex: 100%;
        max-width: 100%;
        /* padding: 0 16px; */
        max-height: 600px;
        
        
    }
    .gallery-column-main img{
        width: 100%;
    }
    


    .gallery-column{
        flex: 33.33%;
        max-width: 33.33%;
        padding: 0 8px;
        /* border: 1PX SOLID red; */
        
    }

    .gallery-row{
        padding: 0px 200px;
        /* border: 1PX SOLID red; */
    }




    .banner-area p:hover span{
        /* background-color:#FFCC66 ; */
        padding:2px 5px 2px 5px ;
        /* color: #333333; */
        border-radius: 5px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;



    }
    .banner-area{
        height:100vh;
    background-position:center;
    }
    .logo-box .logo img {
        width: 280px;
        display: inline-block;
        margin-left: 15px;
    }
.banner-text{
    padding: 18% 0 0 0;
}
    .menu-box {
        float: right;
    }

    .menu-box label {
        float: right;
    }

    .spacing {
        display: none;
    }

    .navmenu {
        display: block;
    }

    .hcol-m-1 {
        width: 8.33%;
    }

    .hcol-m-2 {
        width: 16.66%;
    }

    .hcol-m-3 {
        width: 25%;
    }

    .hcol-m-4 {
        width: 33.33%;
    }

    .hcol-m-5 {
        width: 41.66%;
    }

    .hcol-m-6 {
        width: 50%;
    }

    .hcol-m-7 {
        width: 58.33%;
    }

    .hcol-m-8 {
        width: 66.66%;
    }

    .hcol-m-9 {
        width: 75%;
    }

    .hcol-m-10 {
        width: 83.33%;
    }

    .hcol-m-11 {
        width: 91.66%;
    }

    .hcol-m-12 {
        width: 100%;
    }
}

/*for desktop*/
@media only screen and (min-width: 1600px) {


    .navmenu {
        display: block;
    }

    .hcol-1 {
        width: 8.33%;
    }

    .hcol-2 {
        width: 16.66%;
    }

    .hcol-3 {
        width: 25%;
    }

    .hcol-4 {
        width: 33.33%;
    }

    .hcol-5 {
        width: 41.66%;
    }

    .hcol-6 {
        width: 50%;
    }

    .hcol-7 {
        width: 58.33%;
    }

    .hcol-8 {
        width: 66.66%;
    }

    .hcol-9 {
        width: 75%;
    }

    .hcol-10 {
        width: 83.33%;
    }

    .hcol-11 {
        width: 91.66%;
    }

    .hcol-12 {
        width: 100%;
    }
}